<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue à Arkham !{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}

    {{ form_start(form) }}

        {{ form_label(form.nom) }}
        {{ form_widget(form.nom) }}
{#
        {{ form_label(form.pv) }}
        {{ form_widget(form.pv) }}

        {{ form_label(form.damage) }}
        {{ form_widget(form.damage) }}

        {{ form_label(form.psy) }}
        {{ form_widget(form.psy) }}
#}
        {{ form_label(form.job) }}
        {{ form_widget(form.job) }}

        {{ form_widget(form.submit) }}

    {{ form_end(form) }}

{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
